tr {
    border-top: 0.01rem solid #c4c9d1;
}

tr:hover {
    background-color: #f0f2f5;
}

.edit-delete-column {
    display: flex;
    justify-content: center;
    width: fit-content;
}

button {
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: 0.02rem solid #b4b9bf;
}